*{
    margin:0;
    padding: 0;
}
body{
    background-color: #fafafa;
}
.header{
    height: 100px;
    background-color: #fff;
}
.header-inner{
    width: 1200px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
    line-height: 100px;
}
.logo{
    float: left;
}
.nav{
    float: right;
}
.nav li{
    list-style: none;
    display: inline-block;
    float: left;
    margin: 0 20px;
}
.nav li a{
    color:#333;
    text-decoration: none;
}
.nav li a:hover{
    color:#3386f6
} 
.banner{
    height: 620px;
    background: url(../images/banner.jpg) no-repeat top center;
}
.main{
}
.serve{
    width: 1055px;
    height: 660px;
    margin:75px auto 0;
}
.serve-hd{
    border-top:1px solid #ccc;
    margin:0 25px;
}
.serve-hd h3{
    width: 167px;
    height: 46px;
    margin:0 auto;
    margin-top: -20px
}
.serve-hd p{
    font-size: 12px;
    line-height: 26px;
    color: #666;
    text-align: center;
    width: 830px;
    margin: 15px auto 0;
}
.serve-bd{
    margin-top: 40px
}
.serve-bd li{
    width: 320px;
    height: 510px;
    background-color: #fff;
    float: left;
    list-style: none;
}
.serve-bd .sale img{
    padding: 40px 35px 40px;
    width: 248px;
    height: 132px;
}
.serve .sale h4{
    font-size: 18px;
    color:#333;
    text-align: center;
    font-weight: normal;
    height:40px;
}
.serve .sale p{
    font-size: 14px;
    color:#666;
    width: 250px;
    margin:0 auto;
    text-indent: 2em;
    line-height: 26px;
}
.serve .sale a{
    display: block;
    width: 148px;
    height: 38px;
    background-color: #fff;
    border:1px solid orange;
    margin:30px auto;
    text-align: center;
    line-height: 38px;
    font-size:16px;
    color:#ff9412;
    text-decoration: none;
    border-radius: 5px;
}
.serve .sale a:hover{
    background-color: #ff9412;
    border:1px solid #ff9412;
    color:#fff;
}
.serve-bd .marketing{
    margin:0 45px;
}
.case{

}
.partner{

}
.footer{

}