*{
    margin:0;
    padding: 0;
}
.clearfix:after {  content: "."; display: block; height: 0; clear: both; visibility: hidden;  }   

.clearfix {*zoom: 1;}   /* IE6、7 专有 */
body{
    background-color: #fafafa;
}
.header{
    height: 100px;
    background-color: #fff;
}
.header-inner{
    width: 1200px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
    line-height: 100px;
}
.logo{
    float: left;
}
.nav{
    float: right;
}
.nav li{
    list-style: none;
    display: inline-block;
    float: left;
    margin: 0 20px;
}
.nav li a{
    color:#333;
    text-decoration: none;
}
.nav li a:hover{
    color:#3386f6
} 
.banner{
    height: 620px;
    background: url(../images/banner.jpg) no-repeat top center;
}
.main{
}
.serve,.case,.partner{
    width: 1055px;
    margin:75px auto 0;
}
.serve-hd{
    border-top:1px solid #ccc;
    margin:0 25px;
}
.serve-hd h3{
    width: 167px;
    height: 46px;
    margin:0 auto;
    margin-top: -20px
}
.serve-hd p{
    font-size: 12px;
    line-height: 26px;
    color: #666;
    text-align: center;
    width: 830px;
    margin: 15px auto 0;
}
.serve-bd{
    margin-top: 40px;
    overflow: hidden;
}
.serve-bd li{
    width: 320px;
    height: 510px;
    background-color: #fff;
    float: left;
    list-style: none;
}
.serve-bd .sale img{
    padding: 40px 35px 40px;
    width: 248px;
    height: 132px;
}
.serve .sale h4{
    font-size: 18px;
    color:#333;
    text-align: center;
    font-weight: normal;
    height:40px;
}
.serve .sale p{
    font-size: 14px;
    color:#666;
    width: 250px;
    margin:0 auto;
    text-indent: 2em;
    line-height: 26px;
}
.serve .sale a{
    display: block;
    width: 148px;
    height: 38px;
    background-color: #fff;
    border:1px solid orange;
    margin:30px auto;
    text-align: center;
    line-height: 38px;
    font-size:16px;
    color:#ff9412;
    text-decoration: none;
    border-radius: 5px;
}
.serve .sale a:hover{
    background-color: #ff9412;
    border:1px solid #ff9412;
    color:#fff;
}
.serve-bd .marketing{
    margin:0 45px;
}
.case-bd{
    width: 1055px;
    height: 210px;
    margin-top: 80px;
    position: relative;
}
.case-bd li{
    width: 325px;
    height: 210px;
    list-style: none;
    float: left;
    position: relative;
}

.case-bd .case-bd-middle{
    margin: 0 40px;
}
.case-bd .mask{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2) url(../images/fdj.png) center no-repeat;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}
.case-bd li:hover .mask{
    display: block;
}
.case-bd .text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 45px;
    font-size:12px;
}
.case-bd .left,.right{
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
    top: 50%;
    margin-top:-30px;
    text-decoration: none;
    color:#fff;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    border-radius: 50%;
}
.case-bd a:hover{
    background: rgba(0, 0, 0, 0.5);
    background-color: skyblue;
}
.case-bd .left{
    left: -80px;
}
.case-bd .right{
    right: -80px;
}
.media-bd{
    width: 1040px;
    height: 240px;
    overflow: hidden;
}
.media-bd ul{
    width: 1060px;
}
.media-bd li{
    width: 210px;
    height: 60px;
    float: left;
    border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.footer{

}