*{
    margin:0;
    padding: 0;
}
.head{
    text-align: center;
    border:1px solid red;
    box-sizing: border-box;
}
.body{
    border: 1px solid red;
    box-sizing: border-box;
}
.body ul{
    width: 100%;
    margin:0 auto;
    list-style: none;
    box-sizing: border-box;
}
.body li{
    width: 50%;
    border:1px solid red;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.body li.red{
    background-color: red;
    color:white;
}