/*
* @Author: andy
* @Date:   2017-12-18 09:34:47
* @Last Modified by:   andy
* @Last Modified time: 2017-12-18 09:34:47
*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;   /*  css3 盒子模型 */
}
em,i{
	font-style:normal;
}
li{
	list-style:none;
}
img{
	border:0;
	vertical-align:middle;
}
button{
	cursor:pointer;
}
a{
	color:#050505;
	text-decoration:none;
}
a:hover{
	color:#c81623;
}
button,input{
	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
body{
	-webkit-font-smoothing:antialiased;
	background-color:#fff;
	font:12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color:#666;
}
.hide,.none{
	display:none;
}
.clearfix:after{
	visibility:hidden;
	clear:both;
	display:block;
	content:".";
	height:0;
}.clearfix{
	*zoom:1;
}
/* 版心 */
.w {
	width: 1200px;
	margin: auto;
}
/* css初始化 */
body{
    background-color: #f3f5f7;
}
.heart{
    width: 1300px;
    margin:0 auto;
}
header{
    width: 1200px;
    height: 100px;
    margin:0 auto;
    box-sizing: border-box;
    padding-top:30px;
}
.logo{
    width: 195px;
    height: 42px;
    float: left;
}
h1{
    margin:0;
    padding: 0;
}
.logo a{
    display: block;
    width: 195px;
    height: 42px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
nav{
    float: left;
    height: 40px;
    margin-left: 10px;
}
nav li{
    list-style: none;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 25px;
}
nav li a{
    display: block;
    text-decoration: none;
    height: 40px; 
    font-size: 18px;
    color:#050505;
    padding: 0 10px;
}
nav li a:hover{
    border-bottom:2px solid #00a4ff;
}
.search{
    width: 410px;
    height: 40px;
    float: left;
    margin-left: 120px;
}
.search input{
    width: 361px;
    height: 40px;
    border:1px solid #00a4ff;
    outline: none;
    float: left;
}
.search button{
    height: 40px;
    width: 49px;
    background-color: #00a4ff;
    border:0;
    float: left;
    background: url(../images/fa-search.png) no-repeat;
    outline: none;
}
.personal{
    float: right;
    height: 40px;
    line-height: 40px;
}
.personal dt,dd{
    float: left;
}
.personal s{
    position: relative;
    padding: 0 10px;
}
.personal s::before{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 0;
    top:0;
}
.personal span img{
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}