.banner{
    height: 420px;
    background-color: #1c036c;
}
.inner{
    height: 420px;
    position: relative;
} 
.subnav{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 190px;
    background-color: rgba(0, 0, 0, .3);
    padding-top:20px;
}
.subnav li{
    padding-left: 20px;
    position: relative;
    height: 40px;
    line-height: 40px;
}
.subnav a{
    font-size:16px;
    color:#fff;
    display: block;
}
.subnav a:hover{
    color:#00b4ff;
}
.subnav span{
    position: absolute;
    right: 20px;
    top:0;
}
.circle{
    width: 176px;
    height: 20px;
    position: absolute;
    left:50%;
    /* margin-left:-88px; */
    transform: translate(-50%);
    bottom:20px;
}
.circle i{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: rgba(255,255,255, .3);
    margin:0 5px;
    border-radius: 50%;
    transition: width 1s;
}
.circle i:hover{
    width: 20px;
    border-radius: 6px;
    position: relative;
}
.timebook{
    width: 228px;
    height: 300px;
    position: absolute;
    right: 0;
    background-color: #fff;
    top:50%;
    transform: translate(0,-50%);
}
.timebook dt{
    height: 50px;
    background-color: #9bceea;
    font-weight: 700;
    line-height: 50px;
    color:#fff;
    font-size: 18px;
    text-align: center;
}
.timebook dd{
    padding:15px 20px 0;

}
.timebook dd li{
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding-top:10px;
    font-size: 16px;
}
.timebook h5{
    font-size: 16px;
    font-weight: normal;
}
.timebook .all{
    height: 40px;
    border: 1px solid #22b0ff;
    color:#22b0ff;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.recommend{
    margin-top:10px;
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}
.rec-l{
    padding-left: 20px;
}
.rec-l strong{
    font-size: 14px;
    color:#00b4ff;
}
.rec-l a{
    margin:0 15px;
    font-size: 14px;
}
.rec-l a:hover{
    color:#00b4ff;
}
.recommend em{
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom:0;
    color:#00b4ff;
}
.products{
    margin-top:30px;
}
.pro-hd{
    position: relative;
    height: 30px;

}
.pro-hd h3{
    position: absolute;
    left: 0;
    top:0;
    font-size: 18px;
    font-weight: normal;
}
.pro-hd a{
    position: absolute;
    right: 0;
    top:0;
}
.pro-bd{
    margin-top:20px;
}
.pic img{
    transition: all 1s;
}
.pic img:hover{
    overflow: hidden;
    margin-left: -5px;
}
.pro-bd li{
    width: 228px;
    height: 270px;
    background-color: #fff;
    float: left;
    margin-right: 15px;
    margin-bottom:15px;
    transition: all 1s;

}
.pro-bd li:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-10);
}
.pro-bd li:nth-child(5n){
    margin-right: 0;
}
.pro-title{
    width: 185px;
    margin:20px auto;
    font-size: 16px;
}
.pro-bd p{
    width: 185px;
    margin:20px auto;
}
.pro-bd p span{
    color:orange;
}